 [data-bs-theme=dark] body {
  background-color: #1B1A1C;
}

body {
  transition: all .2s;
  background-color: #eff0f5;
}

a {
  text-decoration: none;
}

a:hover, .footer-link:hover {
transition: all .3s ease-in-out;
  text-decoration: none;
  color:orange;
}

.footer-link {
  color: #000;
}

 [data-bs-theme=dark] .footer-link:hover{
  color: orange;
}

 [data-bs-theme=dark] .footer-link{
  color: #fff;
}

 [data-bs-theme=dark] .btn{
  color: black;
  font-weight: 600;
}
.btn{
  font-weight: 600;
}
span.logo {
  color: orange;
}

.fs-big {
  font-size: 9rem
}

.header-line {
  height: 5px;
  width: 150px;
}

/* Navbar */

#nav-lg-menu li {
  font-size: 15px;
  margin-right: 1rem;
}

#nav-lg-menu a.active,
#offcanvasNavbar a:hover.active {
  color: orange;
  text-decoration: none;
}

#nav-lg-menu a:hover,
#offcanvasNavbar a:hover {
  color: orange;
  text-decoration: none;

}

#offcanvasNavbar {
  font-size: 18px;
  font-weight: 600;
  top: 97px;
}

#offcanvasNavbar i {
  height: 50px
}


#topnav .rounded-circle:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#nav-lg-menu a {
  display: inline-block;
  position: relative;
  background-color: transparent;
}

/* main */
main {
  padding-top: 0.5rem;
  min-height: 60vh;
}

 [data-bs-theme=dark] .bg-body-tertiary {
  background-color: #ffffff0a !important;
}

 [data-bs-theme=dark] .card-home:hover{ 
background-color: #ffffff1a !important;
}

/* misc  */
.bd-callout {
  border-radius: 0;
  border-left: 0.25rem solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0
}

[data-bs-theme=dark] #cards .border-3:hover {
  border-color: rgb(255 255 255 / 25%)
}

.icon {
  fill: #000;
}

[data-bs-theme="dark"] .icon {
  fill: #fff;
}

.bg-purple {
  background-color: #6e2bf2;
}

/* Converter */
#quickactions .btn {
  font-size: 0.75rem;
}

#quickactions .btn:hover {
  opacity: 80%;
}

.conversor {
  text-decoration: none;
}

/* Balance */
.spinner-border-sm {
  --bs-spinner-width: 1.4rem;
  --bs-spinner-height: 1.4rem;
}

/* Donate */
.material-svg {
  transform: scale(0.5);
  opacity: 0.6;
}

.bg-l0tt0 {
  background-color: #FBE24B;
}

/* API */
.terminal {
  background-image: linear-gradient(55deg, #f5f7fd, #fbfbfe)
}

.bg-bitcointalk {
  background-color: #ECEDF3;
  color: #476C8E;
  font: 13px verdana, helvetica, sans-serif;
}

/* JJG strategy */
input[type="range"] {
  width: 70%;
}

.pointer,
.pointer:hover {
  text-decoration: none;
  font-weight: 600;
}

.apexcharts-tooltip-title {
  text-align: left;
}

.progress#priceRange,
.progress#price200WRange {
  height: 0.2rem;
}

/* form floating */
.form-floating>.form-control-plaintext~label::after, .form-floating>.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, .form-floating>.form-select~label::after {
background-color: transparent !important;
}